.plan{
    margin: 86px 20px 63px 20px;
}

.plan_txt{
    padding: 0px 744px 42px 100px;
    font-family: "Raleway", sans-serif;
    color: #43806C;
}
.plan_txt h3{
    font-family: "Roboto", sans-serif;
    color: #214E41;
    font-size: 36px;
    width: 526px;
}
.plan_txt p {
    width: 510px;
    font-size: 18px;
    font-weight: 300;
    color: #757575;
}

.cards{
    display: flex;
    padding: 59px 131px 0px 100px;
}

.card{
    width: 239px;
    height: 135px;
    color: #214E41;
    font-family: "Raleway", sans-serif;
    margin-right: 74px;
    font-size: 20px;
    font-weight: 700;
}
.card h2{
    font-size: 60px;
    color: #F0A446;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}


.emp{
    background: url(Rectangle.jpg);
    width: 1440px;
    height: 522px;
}

.emp_txt{
    padding: 126px 720px 114px 120px;
    font-family: "Raleway", sans-serif;
    color: #43806C;
}

.emp_txt h3{
    font-family: "Roboto", sans-serif;
    color: #214E41;
    font-size: 36px;
    width: 526px;
}

.emp_txt p {
    width: 510px;
    font-size: 18px;
    font-weight: 300;
    color: #757575;
}
